.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #525252;
  justify-content: center;
}

main {
  padding: 30px 20px;
  background-color: #ffffff;
  margin: 20px auto;
}

main h1 {
  font-size: 2.5rem;
  font-family: "Lobster";
  color: #6a8f89;
  margin-bottom: 30px;
}

main h2 {
  font-size: 2rem;
  font-family: "Lobster";
  color: #525252;
}

main h3 {
  font-size: 1rem;
  color: #525252;
}

.page-description {
  font-family: "Inter";
  font-size: 1.125rem;
  color: #525252;
  white-space: pre-line;
}
